<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
  </div>
    <div class="jumbotron text-center">
      <h1>Missy Elliot University</h1>
      <h3></h3>
    </div>
      <div class="container text-center">
        @RenderBody()
      </div>
  </body>
</html>
